sudo: false
language: go
go:
  - 1.8.3
install:
  - make install-dependencies
  - make install-test-dependencies
script:
  - go vet `go list ./... | grep -v vendor`
  - fmtTest=$(gofmt -l lib); [[ -z $fmtTest ]]
  - make test
